{% extends "base.html" %}

{% block content %}

<h1>PROFILE: {{ user.username }}</h1>
<div class="container-fluid">
    <div class="row">
        <!-- Feed with uploadet Posts -->
        <div class="col-12 mt-3 left">
            
            <div class="container">
                <img class="account-img" src="{{ profile.picture.url }}">
            </div>
            <div class="media-body">
            <p>{{ profile.first_name }}</p>
            
            <p>{{ profile.last_name }}</p>
            <p>{{ profile.bio }}</p>
        </div>
        </div>
    </div>
</div>

{%endblock%}